* {
    margin: auto;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    color: #b7b7b7;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* HEADER AND NAV MENU --------------------------- */ 
.header {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background: #1F2937;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #b7b7b7;
}




/* TOP WELCOME MESSAGE AMD IMAGE ----------------- */
.welcome {
    display: flex;
    padding: 0;
    gap: 50px;
    height: 505px;
    margin: 0;
    padding: 0;
    padding: 0 50px;
    background: #1F2937;
}

.welcome-header {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.welcome-message {
    margin-bottom: 10px;
}




/* SERVICES CONTENT ------------------------------ */
.services {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content {
    color: #1F2937;
    background: #F9FAF8;
    display: flex;
    flex-direction: column;
    height: 505px;
}

.images-text {
    display: flex;
    justify-content: center;
    color: #676565;
}

.images {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 30px 100px 30px;
    padding: 0;
    flex: 0;
}

.pic {
    border: 5px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 0;
}



/* QUOTE ----------------------------------------- */
.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
    color: #1F2937;
    height: 505px;
    margin: 0;
    padding: 0;
}

.quote {
    width: 25em;
    padding-left: 40px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.name {
    margin: 0;
    padding: 0;
    padding-left: 18em;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}



/* SIGN UP MESSAGE ------------------------------- */
.content3 {
    display: flex;
    height: 505px;
    background: #F9FAF8;
    margin: 0;
    padding: 0;
}

.box-container {
    display: flex;
    background: #3882F6;
    border-radius: 10px;
    height: 8em;
    width: 50em;
    color: #F9FAF8;
}

.right-button {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

.bottom-message {
    color: #E5E7EB;
}

button {
    font-weight: 800;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    padding: 4px 20px;
    border-radius: 8px;
}




/* FOOTER ---------------------------------------- */
footer {
    background: #1F2937;
    color: #b7b7b7;
    height: 4em;
    margin: 0;
    padding: 0;
    display: flex;
}

